/* Figma Styles of your File */:root {
  /* Colors */
  --email-gradient: linear-gradient(180deg, rgba(255, 255, 255, 1.00) 0%,rgba(140, 163, 217, 1.00) 100%);

  /* Fonts */
  /* Effects */

}
/* Figma Color Variables of your File */:root, [data-variable-collection-mode=mode-1] {
  /* mode-1 */
  --cta: #3579ea;
  --blue-900: #182b56;
  --blue-950: #06163a;
  --blue-300: #8ca3d9;
  --blue-400: #6e8acc;
  --blue-100: #e2ebff;
  --blue-600: #355aad;
  --teal-500: #00c0d5;
  --yellow-500: #fabc41;
  --teal-600: #009daf;
  --yellow-200: #ffd174;
  --peach-500: #fd643a;
  --white: #ffffff;
}

